{% extends "layout.html" %}
{% block content %}
    <h2>Cost Drivers - {{ car.brand }} {{ car.model }} - {{ ccp.name }} </h2>
<div class="content-section">
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
            <th scope="col">Elapsed</th>
          <th scope="col">Limit</th>
            <th scope="col">Restore</th>
        </tr>
      </thead>
        {% for ccd in ccds %}
        {% if ccd.elapsed>ccd.limit %}
        <tr class="table-active">
            <th scope="row">{{ccd.name}}</th>
            <th scope="row">{{ccd.value}}</th>
            <th scope="row">{{ccd.elapsed}}</th>
            <th scope="row">{{ccd.limit}}</th>
            <th scope="row"><a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('ccdr.add_ccdr', act_id=act.id, ccd_id=ccd.id) }}">Restore</a></th>
        </tr>
        {% else %}
        <tr href="#">
            <th scope="row">{{ccd.name}}</th>
            <th scope="row">{{ccd.value}}</th>
            <th scope="row">{{ccd.elapsed}}</th>
            <th scope="row">{{ccd.limit}}</th>
            <th scope="row"><a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('ccdr.add_ccdr', act_id=act.id, ccd_id=ccd.id) }}">Restore</a></th>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    </div>
{% endblock content %}
{% block feed %}
<div class="content-section">
    <ul class="nav flex-column nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('activities.use_spare', act_id=act.id) }}">Use Spare Parts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{{ url_for('activities.res_cd', act_id=act.id) }}">Restore Cost Driver</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('activities.alter_acp', act_id=act.id) }}">Activity Cost Profile</a>
  </li>
    </ul>
</div>
<h4>Activity Cost: {{ act.totcostact }}</h4>
<h4>Spares Cost: {{ act.totcostspares }}</h4>
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Update Activity Details</legend>
            <div class="form-group">
                {{ form.start.label(class="form-control-label") }}
                {% if form.start.errors %}
                    {{ form.start(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.start.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.start(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.end.label(class="form-control-label") }}
                {% if form.end.errors %}
                    {{ form.end(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.end.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.end(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.type.label(class="form-control-label") }}
                {% if form.type.errors %}
                    {{ form.type(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.type.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.type(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.acp.label(class="form-control-label") }}
                {% if form.acp.errors %}
                    {{ form.acp(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.acp.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.acp(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('acp.create_acp', event_id=event.id) }}">Create New Activity Cost Profile</a>
            <div class="form-group">
                {{ form.kmssact.label(class="form-control-label") }}
                {% if form.kmssact.errors %}
                    {{ form.kmssact(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.kmssact.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.kmssact(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.notes.label(class="form-control-label") }}
                {% if form.notes.errors %}
                    {{ form.notes(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.notes.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.notes(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock feed %}