{% extends "layout.html" %}
{% block content %}
<h2>{{event.name}} - Add Car</h2>
   <div class="content-section">
        <form method="post" action="" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
         <fieldset class="form-group">
             <div class="form-group">
                 {{ form.car.label(class="form-control-label") }}
                 {% if form.car.errors %}
                    {{ form.car(class="form-control form-control-lg is-invalid") }}
                     <div class="invalid-feedback">
                        {% for error in form.car.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                     </div>
                 {% else %}
                            {{ form.car(class="form-control form-control-lg") }}

                 {% endif %}
             </div>
             <div class="form-group">
                 {{ form.team.label(class="form-control-label") }}
                 {% if form.team.errors %}
                    {{ form.team(class="form-control form-control-lg is-invalid") }}
                     <div class="invalid-feedback">
                        {% for error in form.team.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                     </div>
                 {% else %}
                            {{ form.team(class="form-control form-control-lg") }}

                 {% endif %}
             </div>
             </fieldset>
         <div class="form-group">
                 {{ form.submit(class="btn btn-outline-info") }}
             </div>
     </form>
   </div>
{% endblock content %}
