{% extends "layout.html" %}
{% block content %}
    <h2>{{ car.brand }} {{ car.model }} </h2>
    <h4>Chassis: {{ car.chassis }} | Total Kms of SS: {{ car.kmtot }}</h4>
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('events.create_event', car_id=car.id) }}">Add Event</a>
{% endblock content %}
{% block feed %}
<form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{legend}}</legend>
            <div class="form-group">
                {{ form.brand.label(class="form-control-label") }}
                {% if form.brand.errors %}
                    {{ form.brand(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.brand.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.brand(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.model.label(class="form-control-label") }}
                {% if form.model.errors %}
                    {{ form.model(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.model.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.model(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.kmtot.label(class="form-control-label") }}
                {% if form.kmtot.errors %}
                    {{ form.kmtot(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.kmtot.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.kmtot(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.chassis.label(class="form-control-label") }}
                {% if form.chassis.errors %}
                    {{ form.chassis(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.chassis.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.chassis(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.notes.label(class="form-control-label") }}
                {% if form.notes.errors %}
                    {{ form.notes(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.notes.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.notes(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
{% endblock feed %}
