{% extends "layout.html" %}
{% block content %}
    <h2>Cars</h2>
{% for car in carlist %}
<article class="media content-section">
          <div class="media-body">
         <div class="article-metadata">
             <h3><a class="mr-2">{{ car.brand }} {{ car.model }} </a></h3>
             <h4><a>Chassis: {{ car.chassis }} | Total Kms of SS: {{ car.kmtot }} </a></h4>
             <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('cars.car_detail', car_id=car.id) }}">Manage</a>
              <a class="btn btn-danger btn-sm m-1"  href="{{ url_for('cars.delete_car', car_id=car.id) }}">Delete</a>
         </div>
              {% for event in car.events %}
              <h4><a href="{{ url_for('events.event_detail', event_id=event.id) }}"> {{ event.name }}</a></h4>
              {% endfor %}
              <div class="card-header">{{car.notes}}</div>
          </div>
    </article>
        {% endfor %}
{% if carlist.count()==0 %}
<article class="media content-section">
          <div class="media-body">
                          <h4><a>No cars added yet</a></h4>
          </div>
</article>
{% endif %}
{% endblock content %}
