{% extends "layout.html" %}
{% block content %}
    <h2>Cost Drivers - {{ car.brand }} {{ car.model }} - {{ ccp.name }} </h2>
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ newccdform.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add Car Cost Driver</legend>
            <div class="form-group">
                {{ newccdform.name.label(class="form-control-label") }}
                {% if newccdform.name.errors %}
                    {{ newccdform.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in newccdform.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ newccdform.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
          <div class="form-group">
                {{ newccdform.value.label(class="form-control-label") }}
                {% if newccdform.value.errors %}
                    {{ newccdform.value(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in newccdform.value.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ newccdform.value(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ newccdform.elapsed.label(class="form-control-label") }}
                {% if newccdform.elapsed.errors %}
                    {{ newccdform.elapsed(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in newccdform.elapsed.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ newccdform.elapsed(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ newccdform.limit.label(class="form-control-label") }}
                {% if newccdform.limit.errors %}
                    {{ newccdform.limit(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in newccdform.limit.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ newccdform.limit(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ newccdform.submitccdnew(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
<div class="content-section">
    <h4>Assigned Cost Drivers</h4>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ usedspares.hidden_tag() }}
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
            <th scope="col">Select</th>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
            <th scope="col">Elapsed</th>
            <th scope="col">Limit</th>
                        <th scope="col"></th>
        </tr>
      </thead>
        {% for sp in usedspares.sps %}
        <tr href="#">
            <th scope="row">
            {% for subfield in sp.select %}
                {% if loop.index == 1 %}
                {{ subfield.label }}
                {{ subfield }}
                {% endif %}
            {% endfor %}
            </th>
            <th scope="row">{{sp.spid}}{{sp.nome}}</th>
            <th scope="row">{{sp.value(readonly=True)}}</th>
            <th scope="row">{{sp.elapsed(readonly=True)}}</th>
            <th scope="row">{{sp.limit(readonly=True)}}</th>
                                    <th scope="row">   <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('ccd.ccd_detail', ccd_id=sp.spid.data) }}">Update</a></th>

        </tr>
        {% endfor %}
    </table>
        <div class="form-group">
            {{ usedspares.submitoff(class="btn btn-outline-info") }}
        </div>
        </form>
</div>
<div class="content-section">
        <h4>Available Cost Drivers</h4>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ availspares.hidden_tag() }}
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
            <th scope="col">Select</th>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
            <th scope="col">Elapsed</th>
            <th scope="col">Limit</th>
        </tr>
      </thead>
        {% for sp in availspares.sps %}
        <tr href="#">
            <th scope="row">
            {% for subfield in sp.select %}
                {% if loop.index == 1 %}
                {{ subfield.label }}
                {{ subfield }}
                {% endif %}
            {% endfor %}
            </th>
            <th scope="row">{{sp.spid}}{{sp.nome}}</th>
            <th scope="row">{{sp.value(readonly=True)}}</th>
            <th scope="row">{{sp.elapsed(readonly=True)}}</th>
            <th scope="row">{{sp.limit(readonly=True)}}</th>
        </tr>
        {% endfor %}
    </table>
        <div class="form-group">
            {{ availspares.submitin(class="btn btn-outline-info") }}
        </div>
        </form>
</div>
{% endblock content %}
{% block feed %}
<div class="content-section">
    <ul class="nav flex-column nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="#">Cost Drivers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('ccp.resets', ccp_id=ccp.id, car_id=car.id) }}">Restores</a>
  </li>
    </ul>
</div>
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ ccpform.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{legend}}</legend>
            <div class="form-group">
                {{ ccpform.name.label(class="form-control-label") }}
                {% if ccpform.name.errors %}
                    {{ ccpform.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in ccpform.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ ccpform.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ ccpform.notes.label(class="form-control-label") }}
                {% if ccpform.notes.errors %}
                    {{ ccpform.notes(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in ccpform.notes.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ ccpform.notes(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ ccpform.submitupccp(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
    <h4>Used in Events</h4>
{% for event in eventlist %}
<article class="media content-section">
          <div class="media-body">
         <div class="article-metadata">
             <h3><a class="mr-2">{{ event.name }}</a></h3>
                           <h5><a>{{ event.start.strftime(format='%d-%m-%Y') }} - {{ event.end.strftime(format='%d-%m-%Y') }}</a></h5>

             <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('events.event_detail', event_id=event.id) }}">Manage</a>
         </div>
          </div>
    </article>
        {% endfor %}
{% if eventlist.count()==0 %}
<article class="media content-section">
          <div class="media-body">
                          <h4><a>No events added yet</a></h4>
          </div>
</article>
{% endif %}
{% endblock feed %}