{% extends "layout.html" %}
{% block content %}
    <h2>Events</h2>
{% for event in eventlist %}
<article class="media content-section">
          <div class="media-body">
         <div class="article-metadata">
             <h3><a class="mr-2">{{ event.name }} </a></h3>
                           <h5><a>{{ event.start.strftime(format='%d-%m-%Y') }} - {{ event.end.strftime(format='%d-%m-%Y') }}</a></h5>
             <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('events.event_detail', event_id=event.id) }}">Manage</a>
              <a class="btn btn-danger btn-sm m-1"  href="{{ url_for('events.delete_event', event_id=event.id) }}">Delete</a>
         </div>
          <h4><a> INSERIRE CUSTOMER</a></h4>
              <h4><a> INSERIRE ACTCD</a></h4>
          </div>
    </article>
        {% endfor %}
{% if eventlist.count()==0 %}
<article class="media content-section">
          <div class="media-body">
                          <h4><a>No events added yet</a></h4>
          </div>
</article>
{% endif %}
{% endblock content %}
