{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h4>Assigned Spares</h4>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ usedspares.hidden_tag() }}
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
            <th scope="col">Select</th>
            <th scope="col">Name</th>
            <th scope="col">New Part</th>
            <th scope="col">Price</th>
          <th scope="col">Notes</th>
        </tr>
      </thead>
        {% for sp in usedspares.sps %}
        <tr href="#">
            <th scope="row">
            {% for subfield in sp.select %}
                {% if loop.index == 1 %}
                {{ subfield.label }}
                {{ subfield }}
                {% endif %}
            {% endfor %}
            </th>
            <th scope="row">{{sp.spid}}{{sp.nome}}</th>
            <th scope="row">{{sp.isnew(readonly=True)}}</th>
            <th scope="row">{{sp.price(readonly=True)}}</th>
            <th scope="row">{{sp.notes(readonly=True)}}</th>
        </tr>
        {% endfor %}
    </table>
        <div class="form-group">
            {{ usedspares.submitoff(class="btn btn-outline-info") }}
        </div>
        </form>
</div>
<div class="content-section">
        <h4>Available Spares</h4>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ availspares.hidden_tag() }}
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
            <th scope="col">Select</th>
            <th scope="col">Name</th>
            <th scope="col">New Part</th>
            <th scope="col">Price</th>
          <th scope="col">Notes</th>
        </tr>
      </thead>
        {% for sp in availspares.sps %}
        <tr href="#">
            <th scope="row">
            {% for subfield in sp.select %}
                {% if loop.index == 1 %}
                {{ subfield.label }}
                {{ subfield }}
                {% endif %}
            {% endfor %}
            </th>
            <th scope="row">{{sp.spid}}{{sp.nome}}</th>
            <th scope="row">{{sp.isnew(readonly=True)}}</th>
            <th scope="row">{{sp.price(readonly=True)}}</th>
            <th scope="row">{{sp.notes(readonly=True)}}</th>
        </tr>
        {% endfor %}
    </table>
        <div class="form-group">
            {{ availspares.submit(class="btn btn-outline-info") }}
        </div>
        </form>
</div>
{% endblock content %}
{% block feed %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Update Invoice Details</legend>
            <div class="form-group">
                {{ form.regdate.label(class="form-control-label") }}
                {% if form.regdate.errors %}
                    {{ form.regdate(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.regdate.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.regdate(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.supplier.label(class="form-control-label") }}
                {% if form.supplier.errors %}
                    {{ form.supplier(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.supplier.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.supplier(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.notes.label(class="form-control-label") }}
                {% if form.notes.errors %}
                    {{ form.notes(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.notes.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.notes(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submitup(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
<div class="content-section">
    <h4>Total Price: {{invoice.totprice}}</h4>

             <a class="btn btn-outline-info btn-sm m-1" href="{{ url_for('invoices.uploaded_file', filename=invoice.filename) }}">Show File: {{invoice.filename}}</a>
              <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('invoices.download_file', filename=invoice.filename, invoice_id=invoice.causale) }}">Download</a>
</div>
{% endblock feed %}